<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bibliolandia{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Bibliolandia</h1>
        <nav>
            <a href="/">Inicio</a> |
            <a href="/libros">Libros</a> |
            <a href="/autores">Autores</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Creado con Flask y VSC</p>
    </footer>
</body>
</html>
